<div class="login-page" [hidden]="showNiceWeidcode">
    <div class="login-form">

        <form class="form-horizontal" *ngIf="active" (ngSubmit)="onSubmit()" #userForm="ngForm">
            <h1>Sign up</h1>
            <hr>
            <div class="form-group">
                <label class="col-sm-3 control-label">Cellphone*</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="Cellphone number" required autofocus
                           minLength=11
                           maxLength=11
                           [(ngModel)]="model.cell"
                           ngControl="cell" #cell="ngForm"
                           (blur)="checkCell(cell.value)">

                </div>
                <div class="col-sm-4">
            
                <span class="col-sm-2" [hidden]="cell.valid || cell.pristine " class="alert alert-danger">
                    Please enter your cellphone number!
                </span>
                <span class="col-sm-2" [hidden]="!isCellExisted " class="alert alert-danger">
                    The cellphone has been used!
                </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Valicate Cellphone*</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="Valication Code" required>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-default" type="button">Send valication code</button>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Password*</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" placeholder="6～16 with letters and numbers" required
                           minLength=6
                           maxLength=16
                           [(ngModel)]="model.password"
                           ngControl="password" #password="ngForm">

                </div>

                <div class="col-sm-4">
            <span class="col-sm-2" *ngIf="password.dirty && !password.valid" class="alert alert-danger">
                    Please put your password!
            </span>
                </div>

            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Confirm password*</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" placeholder="6～16 with letters and numbers" required
                           minLength=6
                           maxLength=16
                           ngControl="cpassword"
                           #cpassword
                           (blur)="checkPassword2(cpassword.value)"
                           (keyup)="removePwdAlert()"
                    >

                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <span *ngIf="!isPasswd2" class="alert alert-danger">
                        Please assure that you enter the same password twice!
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">User Type</label>
                <div class="col-sm-8">
                    <label><input type="radio" name="optradio" (click)="onSelectUserType(1)" checked>Individual</label>
                    <label><input type="radio" name="optradio" (click)="onSelectUserType(9)">Enterprise</label>
                    <label><input type="radio" name="optradio" (click)="onSelectUserType(5)">The Third</label>
                </div>
            </div>

            <div [hidden]="!isThird">
                <div class="form-group">
                    <label class="col-sm-3 control-label">The Third Type</label>
                    <div class="col-sm-8">
                        <select class="form-control" [(ngModel)]="model.idtype">
                            <option *ngFor="let t of otypes" [value]="t.code">{{ t.name }}</option>
                        </select>
                    </div>
                </div>
            </div>


            <div [hidden]="!isThird && !isEnterprise"> <!-- start enterprise -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Full Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="" [(ngModel)]="model.name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">License Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="" [(ngModel)]="model.idname">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">License Number</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="" [(ngModel)]="model.idno">
                    </div>
                </div>

            </div><!-- end of enterprise -->


            <div class="form-group">
          <span>
          	<div class="col-sm-4">
            	<button type="button" class="btn btn-warning" (click)="chooseWeidcode()">Choose Weidecode</button>
          	</div> 
          	<div class="col-sm-8">
            	<input type="text" class="form-control" rows=1 placeholder="" [ngModel]="model.weidcode" readonly>
          	</div>
          </span>
            </div>

            <div class="form-group">

                <div class="col-sm-12">
                    <textarea class="form-control" rows=7 disabled>Agreement</textarea>
                </div>
            </div>
            <div class="form-group">

                <div class="col-sm-12">
                    <label><input type="checkbox" [(ngModel)]="isAgree">I agree with the contents</label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12 text-center">
                    <button type="submit" class="btn btn-warning"
                            [disabled]="!userForm.form.valid || !isAgree || isCellExisted">Sign Up
                    </button>
                    <button type="button" class="btn btn-warning" (click)="cancel()">Cancel</button>
                    <p class="message">Have signed up?
                        <a [routerLink]="['/login']">Login</a>
                    </p>
                </div>
            </div>

        </form>

        <div *ngIf="!active && isSuccess">
            <h1>The result</h1>
            <hr>
            Successful! Please remember your weidcode.
            <h2><span class="label label-success"> {{ model.weidcode }}</span></h2>
            <a [routerLink]="['/wizard']">Succeed</a>
        </div>
        <div *ngIf="!active && !isSuccess">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<nic-wdcd [hidden]="!showNiceWeidcode" [show]="showNiceWeidcode" (changed)="weidcodeChosed($event)"></nic-wdcd>
